.*
ezquake
ezquake.exe
ezquake-*.exe
ezquake-*-*
ezQuake.aps
unezquake
unezquake.exe
unezquake-*.exe
unezquake-*-*
requake
requake.exe
requake-*.exe
requake-*-*
*.vcxproj*.user
*.vcxproj*.cache
SysPrintf.log
.ezquake/
.vs
/.vscode
*.json.c
*.glsl.c
vcpkg_installed/
src/.msversion.h
/build*/

!.gitignore
!.gitmodules
!.github
